<form class="d-flex flex-column text-center mx-5" #formAddUser="ngForm" (ngSubmit)="onSubmit(formAddUser)">
    <div class="d-grid gap-2 col-6 mx-auto mb-3">
        <div class="mb-3">
            <label for="nom" class="form-label">Votre nom</label>
            <input required type="nom" class="form-control" id="nom" ngModel>
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Votre prénom</label>
            <input required type="prenom" class="form-control" id="prenom" ngModel>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Votre email</label>
                <input required type="email" class="form-control" id="email" ngModel>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Votre mot de passe</label>
            <input required type="password" class="form-control" id="password" ngModel>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-info" [disabled]="formAddUser.invalid">Sauvegarder</button>
        </div>
    </div>
</form>