<form class="d-flex flex-column text-center mx-5" #formAddMovie="ngForm" (ngSubmit)="onSubmit(formAddMovie)">
    <div class="mb-3">
        <label class="form-label" for="movie">Titre :</label>
        <input required class="form-control" id="title" type="text" name="title" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label" for="movie">Poster :</label>
        <input required class="form-control" id="poster_path" type="text" name="poster_path" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label" for="movie">Description :</label>
        <input required class="form-control" id="overview" type="text" name="overview" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label" for="movie">Date de sortie :</label>
        <input required class="form-control" id="release_date" type="text" name="release_date" ngModel>
    </div>
    <button class="btn btn-success btn-sm" type="submit" [disabled]="formAddMovie.invalid">Ajouter</button>
</form>